{% extends 'layout/base.html' %}
{% block css %}
  <style>
      hr {
  margin-top:10px;
  margin-bottom:10px;
  }
  </style>
{% endblock %}
{% block content  %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>Optional description</small>
      </h1>
    </section>
    <section class="content container">
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
    </section>
    <!-- /.content -->
{% endblock %}